@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu /> <!-- Ensures NavMenu is always displayed -->
    </div>

    <div class="main">
        <div class="content px-4 container-fluid">
            @Body
        </div>
    </div>
</div>
